body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

nav {
    background-color: #333;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    color: white;
    font-size: 1.5em;
    font-weight: bold;
}

.nav-image img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
}

nav ul li a:hover {
    background-color: #575757;
    border-radius: 5px;
}

main {
    padding: 20px;
    text-align: center;
}

h1 {
    color: #333;
}
